<h1>Sign up</h1>

<%= flash[:notice] if !flash[:notice].nil? %>
<%= flash[:alert] if !flash[:alert].nil? %>

<%= form_for @user, url: users_path, method: :post do |u| %>
    User name : <%= u.text_field :username %> <br>
    Age : <%= u.text_field :age %> <br>
    Account : <%= u.text_field :account %> <br>
    Password : <%= u.text_field :password %> <br>
    <%= u.submit "Submit" %>
<% end %>
